<!DOCTYPE html>
<html lang="en">
<head>
     <%- include("partials/head", {title: "test"}) %> 
</head>
<body>
    <main>
        <div class="posts">
            <% posts.forEach(post => { %>
                <%- include("components/card", {
                    ...post,
                    titleLinkTo: ""
                }) %> 
            <% }) %>
        </div>
    </main>
</body>
</html>